body {
  background-color: #f4e0e0;
  font-family: 'Kissing Season', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  position: relative;
}

.image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

h1 {
  color: #ff69b4; /* Dark Pink */
  font-size: 30px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.btn:active {
  transform: scale(0.95);
}
